In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
import pickle

In [2]:
df = pd.read_excel('C:/Users/SKRUTI/Documents/corona_data.xlsx')
df.describe()
x = df.drop('infect_p',axis = 'columns')
y = df.infect_p

In [3]:
model_params= {
    'svm':{
        'model':SVC(gamma='auto'),
        'params':{
        'C':[1,10,20],
        'kernel':['rbf','linear']
    }
    },
    'logistic_regression':{
        'model':LogisticRegression(),
        'params':{
        'C':[1,5,10]
    }
    },
    'Random_forest':{
        'model':RandomForestClassifier(),
        'params':{
        'n_estimators':[1,20,40,60]
    }
    }
}

In [15]:
#using gridsearch algorithm
%time
from sklearn.model_selection import GridSearchCV


scores=[]
for model_name,mp in model_params.items():
    clf=GridSearchCV(mp['model'],mp['params'],cv=5)
    clf.fit(x,y)
    scores.append({
        'model':model_name,
        'best_score':clf.best_score_,
        "best_params":clf.best_params_
    })

Wall time: 0 ns

In [5]:
df.head()

   Fever  age  tiredness  diff_brea  bpain  infect_p
0    101   70          0          1      1         1
1    103   44          1          0      1         0
2     98   41          1          1      1         0
3     97   50          0         -1      1         0
4    104   76          0         -1      0         0

In [6]:
x = df.drop('infect_p',axis = 'columns')
y = df.infect_p

In [7]:
df1=pd.DataFrame(scores,columns=['model','best_score','best_params'])
df1

                 model  best_score                   best_params
0                  svm    0.515748  {'C': 1, 'kernel': 'linear'}
1  logistic_regression    0.499008                     {'C': 10}
2        Random_forest    0.480798           {'n_estimators': 1}

In [8]:

%%time
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.25)

model = SVC(C= 1, kernel= 'linear',probability= True)
model.fit(x_train,y_train)
model.score(x_test,y_test)

Wall time: 4.01 s

0.5295275590551181

In [9]:
# with open('corona_model_updated','wb') as f:
#     pickle.dump(model,f)

In [10]:
# with open ('corona_model_updated','rb') as f:
#     model1 = pickle.load(f)

In [11]:
model.predict([[99,18,0,0,1]])

array([0], dtype=int64)

In [12]:
x

      Fever  age  tiredness  diff_brea  bpain
0       101   70          0          1      1
1       103   44          1          0      1
2        98   41          1          1      1
3        97   50          0         -1      1
4       104   76          0         -1      0
...     ...  ...        ...        ...    ...
2027    103   56          0         -1      1
2028    101   37          0          0     -1
2029     97   82          0          1      1
2030     98   79          1          0      0
2031    104   78          1          1     -1

[2032 rows x 5 columns]

In [13]:
y

0       1
1       0
2       0
3       0
4       0
       ..
2027    1
2028    1
2029    0
2030    0
2031    0
Name: infect_p, Length: 2032, dtype: int64